
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

::selection {
  background: transparent;
}

::-moz-selection {
  background: transparent;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-size: 20px;
  line-height: 1.5;
}


html,
input,
button {
  font-family: "montserrat", sans-serif;
}

body {
  background: #f4f5f5;
  color: #313c43;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

body,
input {
  color: #313c43;
}

a {
  position: relative;
  color: #5184f6;
  text-decoration: none;

}

a:after {
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  content: "";
  /*border-bottom: 2px solid;*/
  bottom: 0;
  width: 100%;
}

a,
button {
  transition: all 250ms;
}

p {
  /*margin-bottom: .5rem;*/
}


button,
input {
  display: block;
  font-size: 1rem;
  width: 100%;
}

input {
  display: block;
  background: #f4f5f5;
  border: 3px solid #efefef;
  padding: .3rem;
}

label {
  display: block;
  margin-bottom: 1rem;
}

.label__text {
  display: block;
  margin-bottom: 1rem;
}

input[type="text"] {

}

.button,
button {
  width: 100%;
  padding: 1rem;
  border: none;

  background: #5184f6;
  color: #fff;
  cursor: pointer;

  text-transform: uppercase;;
}

button:hover {
  background: #4774d9;
}

button[disabled] {
  cursor: default;
  color: inherit;
  background: #ddd;
}

button[disabled]:hover {
  background: #ddd;
}

h1 {
  font-size: 1.2rem;
}

table {
  text-align: left;
  width: 100%;
}


td {
  /*color: #a2afb8;*/
}

.box {
  color: #444;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0,0,0,.05);
  padding: 1.75rem;
  margin-bottom: 1rem;
  max-width: 25rem;
  /*margin-left: -1rem;*/
  /*margin-right: -1rem;*/
}

.page-logo {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: .25em;
  margin-top: 0;
  margin-bottom: 1rem;
  background: url(../img/steemdice_logo_bluedice.svg) no-repeat left .05rem;
  background-size: 12%;
  padding-left: 1.8rem;
}

.login {
  margin-bottom: .25rem;
}

.logged-in {
  margin-bottom: .25rem;
}

.signup {
  margin-top: 0;
  margin-bottom: 1rem;
}

.page-header {
  text-align: center;
}

.page-main {
  /*min-width: 50rem;*/
  /*transform: translateY(-5%);*/
}

.page-footer :last-child {
}

.latest-rolls {
  opacity: .75;
  height: 130px;
  overflow-y: auto;
  margin-bottom: 2rem;
}


.bankroll {
  text-align: center;
  position: relative;
  margin-bottom: 1rem;
}

  .bankroll__movement {
    position: absolute;
    font-size: 1.5em;
    left: 50%;
    transform: translate(-50%, -25px);
  }

  .bankroll__movement--positive {
    color: #00d067;
    animation: flyOut 2s forwards;
  }

  .bankroll__movement--negative {
    color: #dd593f;
    animation: flyOut 2s forwards;
  }

  .won {
    color: #00d067;
  }

  .lost {
    color: #dd593f;
  }

  @keyframes flyOut {
    0% {
      opacity: 0;
      top: 0;
    }

    10% {
      opacity: 1;
    }

    80% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      top: -30px;
    }
  }

  @keyframes pulse {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

.bankroll-switch {
  text-align: center;
  margin-bottom: 1rem;
}

  .bankroll-switch__icon {
    vertical-align: -25%;
    font-size: 80%;
  }

.game-limit {
  display: block;
  opacity: .75;
  text-align: center;
  position: relative;
  /*margin-bottom: .75rem;*/
}

.animation--pulse {
  animation: pulse 1s alternate infinite;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.u-1-2 {
  width: 50%;
  padding-right: .5rem;
  float: left;
}

.u-1-2:last-child {
  padding-left: .5rem;
  padding-right: 0;
}

.small {
  font-size: 80%;
}

.smaller {
  font-size: 70%;
}

.large {
  font-size: 115%;
  /*font-weight: bold;*/
}

.large\+ {
  font-size: 2em;
  /*font-weight: bold;*/
}

.large\+\+ {
  font-size: 3em;
  /*font-weight: bold;*/
}

.strong {
  font-weight: bold;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  background: rgba(0,0,0,.15);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: rgba(0,0,0,.15);
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
}



.toasting {
  position: fixed;
  z-index: 2;
  width: 25rem;
  max-width: 100%;
  background: #fff;
  left: 50%;
  bottom: 0;
  padding: 1rem;
  border-top: 3px solid #5184f6;
  transform: translate(-50%, 100%);
  /*font-size: 80%; */
}

.toasting p {
  margin-top: 0;
}

.toasting :last-child {
  margin-bottom: 0;
}

.toasting--show {
  animation: flyOutBottom 10s;
}

@keyframes flyOutBottom {
  0% {
    transform: translate(-50%, 100%);
  }

  10% {
    transform: translate(-50%, 0);
  }

  90% {
    transform: translate(-50%, 0);
  }

  100% {
    transform: translate(-50%, 100%);
  }
}

.input-double-container {
  position: relative;
  display: block;
}

.input-double-container button {
  position: absolute;
  right: 0;
  width: 50px;
  top: 0;
  bottom: 0;
  padding: 0;
  text-align: center;
}



.modal {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  visibility: hidden;

  background: rgba(0,0,0,0);
  transition: visibility 150ms, background 150ms;
}

.modal__inner {
  position: fixed;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);

  width: 15rem;
  max-width: 100%;

  text-align: center;
  opacity: 0;
}

.modal__inner > :first-child {
  margin-top: 0;
  padding-top: 0;
}

.modal.is-toggled {
  visibility: visible;
  background: rgba(0,0,0,.70);
  /*transition: none;  */
}

.modal.is-toggled .modal__inner {
  opacity: 1;
  top: 50%;
  transition: 150ms opacity, 150ms top;
  /*visibiliy: visible !important;*/

}

#about_modal .modal__inner {
  width: 30rem;
  max-height: 600px;
  overflow: auto;
  text-align: left;
}


#logged_in_message, #busy_indicator, #login_error, #rolling, #rolled, #roll_error, #insufficient_funds {
  display: none;
}

@media (max-width: 30rem) {


  html {
    font-size: 16px;
  }


  body {
    padding: 1rem;
  }

  .box:not(.modal__inner) {
    margin-left: -1rem;
    margin-right: -1rem;
  }

  .latest-rolls {
    /*padding: 0 1.75rem;*/
  }

  .input-double-container button {
    width: 40px;
  }
}
